python==2.7.12
confluent_kafka>=0.11.0      -https://docs.confluent.io/current/index.html
cassandra-driver>=3.11.0     -http://cassandra.apache.org/doc/latest/
kafka-python>=1.3.4          -https://kafka-python.readthedocs.io/en/master/usage.html
